* { box-sizing: border-box; }
body, html, #root { 
  margin: 0; 
  padding: 0; 
  width: 100%; 
  overflow-x: hidden; 
}

/* MODIFIKASI CONTENT UTAMA */
.main-content {
  flex: 1;
  padding: 25px;
  min-height: 100vh;
  transition: all 0.3s ease;
}

/* DESKTOP MODE (Layar > 1024px) */
@media (min-width: 1024px) {
  .menu-toggle { display: none !important; }
  .main-content {
    margin-left: 140px !important; /* Ruang Sidebar */
    width: calc(100% - 140px) !important; /* Tarik Full Screen ke Kanan */
  }
  .sidebar-nav { left: 0 !important; }
}

/* MOBILE MODE (Layar < 1023px) */
@media (max-width: 1023px) {
  .main-content {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 15px !important;
  }
  .menu-toggle { display: block !important; }
  .hide-mobile { display: none; }
  
  .sidebar-nav {
    left: -140px; /* Sembunyikan sidebar di kiri */
    transition: left 0.3s ease;
  }
  .sidebar-nav.open {
    left: 0; /* Munculkan sidebar saat ditekan */
  }
}